.tien-home-face{
  background: url('../../images/intro-image.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 115vh;
  display: flex;
  margin: 0px;
  flex-direction: column;
  text-align: right;
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;

}


