.dn-skills-block {
  background: linear-gradient(rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50));
  background-image: url('https://i.pinimg.com/originals/ea/3f/d3/ea3fd3102ccf575e3c33954f73eab78d.jpg');
  background-size: 100% 100%;
  width: 100%;
}

.skillsets,
.about-me-head {
  color: black;
  font-weight: 300;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.skillsets:after,
.about-me-head:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: orange;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.skillsets:hover:after,
.about-me-head:hover:after {
  width: 100%;
  left: 0;
}

.dn-skill-test,
.dn-skill-docker,
.dn-skill-web,
.dn-skill-github {
  font-size: 50px;
  transition: 0.3s ease;
}

.dn-skill-test:hover {
  color: red;
}

.dn-skill-docker:hover {
  color: rgb(14, 224, 224);
}

.dn-skill-web:hover {
  color: blue;
}

.dn-skill-github:hover{
  color: orange;
}
