.dn-resume-head{
  font-weight: bolder;
  font-weight: 300;
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.dn-resume-head:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: orange;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.dn-resume-head:hover:after{
  width: 100%;
  left: 0;
}

.education-head, .exp-head, .certification-head {
  color: orange;
  font-weight: bolder;
  font-weight: 300;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.education-head:after, .exp-head:after, .certification-head:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: orange;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.education-head:hover:after, .exp-head:hover:after, .certification-head:hover:after {
  width: 100%;
  left: 0;
}

.dn-certificate-link{
  transition: 0.5s ease;
  color: orange;
}

.dn-certificate-link:hover{
  transform: scale(1.1);
  font-style: italic;
  color: black;
}