

.tien-port-style{
  max-width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  z-index:0;
}
.tien-title-port{
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: center;
  margin:0;
  z-index:3;
}
.css-9ebb9a {
  position: absolute !important;
}
::-webkit-scrollbar {
  display: none;
}
.tien-projects{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width:85%;
  margin:0 !important;
}
.back-macbook{
  width: 50vw;
  height: 70%;
  position: absolute;
  z-index: 1;
  margin-left:-160px;
  margin-top:0;
}
.front-macbook{
  position: absolute;
  z-index: 2;
 width: 65vw;
 margin-right: -50px;
 margin-top:0;
}
/* style={{ width: "60%", position: "relative", zIndex: "3", marginRight: "-40px"  */