.dn-email-text {
  padding-top: 40px;
  padding-bottom: 50px;
  margin: auto;
  width: 70%;
}

.dn-email-me-head {
  font-weight: bold;
}

.dn-email-me-head {
  color: black;
  font-weight: bold;
  font-size: 43px;
  display: inline-block;
  position: relative;
  transition: 0.5s ease;
}

.dn-email-me-head:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: orange;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.dn-email-me-head:hover:after {
  width: 100%;
  left: 0;
}

.dn-portfolio-underline3 {
  height: 1.5px;
  background-color: orange;
  width: 150px;
  margin: auto;
}

.dn-email-form {
  width: 70%;
  margin: auto;
}

.dn-btn-send-email {
  border-radius: 20px;
  height: 37px;
  display: flex;
  align-items: center;
  margin: auto;
}

.dn-something-say{
  margin-top: 30px;;
  margin-bottom: 0px;
  font-weight: bold;
  transition: 0.5s ease;
}

.dn-something-say:hover{
  transform: scale(1.1);
  color: orange;
}