*{
  font-family: 'Roboto Mono', monospace;
  
}
.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 110, 118); 
  border-radius: 5px;
}

