.dn-footer-bg {
  background-color: black;
  padding: 20px
}

.dn-footer-head{
  transition: 0.5s ease;
}

.dn-footer-head:hover{
  color: orange;
  transform: scale(1.1);
}

.dn-footer-container {
  padding: 20px;
  height: 100%;
}

.dn-contact-lst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.dn-contact-wrap{
}

.dn-call-me {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dn-contact-infor {
  margin-bottom: 4px;
  font-size: 14px;
  text-align: start;
  margin-left: 25px;
}

.dn-contact-head{
  margin-bottom: 4px;
  text-align: start;
  font-size: 18px;
  transition: 0.5s ease;
}

.dn-contact-head:hover{
  color: orange;
  transform: scale(1.1);
}

.dn-contact-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dn-contact-icon{
  font-size: 45px;
  margin: 10px;
  transition: 0.5s ease;
  border-radius: 50px;
  color: white;
}

.fb-icon:hover{
  color: blue;
  transform: scale(1.1);
}

.insta-icon:hover{
  color: orange;
  transform: scale(1.1);
}

.github-icon:hover{
  color: green;
  transform: scale(1.1);
}

.linkedin-icon:hover{
  color: rgb(35, 106, 240);
  transform: scale(1.2);
}

.dn-license{
  transition: 0.5s ease;
}

.dn-license:hover{
  color: orange;
}